@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Betania+Patmos&family=Doppio+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --pink: #fff9f4;
    --white: #fff;
    --black: #000;
    --gray: #cfcccc;
    --red: #ff2222;
    --orange: #ff8811;
    --green: #01ff38;
    --skin-color: #feeb9d;

}

h1 {
    font-size: 76px !important;
}

h2 {
    font-size: 40px !important;
}

li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

body {
    font-family: "Doppio One", sans-serif !important;
    padding: 0;
    margin: 0;
}

.container {
    width: 1320px !important;
}


/* nav-bar */
.nav-header {
    background-color: var(--pink);
    border-bottom: 1px solid var(--gray);
}

.nav-bar {
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.nav-bar-link {
    padding: 10px;
}

.nav-bar-link li {
    padding: 10px 20px;
}

.nav-bar-link a {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}

.nav-bar-but button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.nav-bar-icons.row {
    font-size: 25px;
}

/* bwf-section */
.bwf-section {
    background-color: var(--pink);
    padding: 50px;
}

.bwf-container {
    position: relative;
}

.bwf-container-star1 {
    position: absolute;
    left: 46.70%;
    top: -88px;
    animation: rotate 20s linear infinite;
}

.bwf-container-star2 {
    position: absolute;
    left: 89.7%;
    top: -88px;
    animation: rotate 20s linear infinite;
}

.bwf-container-logo {
    position: absolute;
    left: 40%;
    top: 66%;
    animation: rotate 20s linear infinite;
}

.aa {
    position: relative;
}

.bwf-price {
    display: flex;
    flex-direction: column;
}

.bwf-price-text {
    font-size: 25px;
    padding: 10px 0;
}

.bwf-price-no {
    font-size: 37px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.bwf-but {
    padding: 10px 0;
}

.bwf-but button {
    margin-right: 30px;
    font-size: 16px;
    background-color: var(--white);
    padding: 10px 35px;
    border-radius: 15px;
    border: 1px solid var(--black);
}

.bwf-but button:hover {
    background-color: var(--black);
    color: var(--white);
}

.bwf-text {
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.bwf-text-a span {
    font-size: 14px;
}

.bwf-text-a p {
    font-size: 19px;
    font-weight: 500;
    padding: 10px 0;
}

.bwf-img {
    padding: 0 45px;
    position: relative;
}

.bwf-img-a {
    border-radius: 50px;
    margin-top: -60px;
}

.bwf-img-b {
    position: absolute;
    left: 71%;
    bottom: 68px;
}

.bwf-img-btn {
    position: absolute;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--white);
    padding: 18px 19px 16px 19px;
    font-size: 21px;
    bottom: 105px;
    right: 109px;
}

/* shop-section */

.shop-section {
    background-color: var(--skin-color);
    position: relative;
    padding: 40px 50px;
}

.shop-section-left {
    position: absolute;
    top: 0;
    left: 2%;
}

.shop-section-right {
    background-color: var(--black);
    width: 34%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.shop-container-main {
    position: relative;
}

.shop-rotater {
    position: absolute;
    right: 27.5%;
    top: 36%;
    animation: rotate 20s linear infinite;
}

.shop-container {
    position: relative;
}

.shop-left-box.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
}

.shop-left-img {
    padding: 10px;
}

.shop-left-btn {
    font-size: 14px;
    padding: 10px 38px;
    border: 1px solid var(--black);
    border-radius: 50px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
}

.shop-left-btn:hover {
    color: var(--red);
}

.shop-text {
    color: var(--white);
    position: relative;
    padding: 50px 80px;
}

.shop-text h2 {
    padding: 10px 0;
}

.shop-text p {
    font-size: 19px;
    color: var(--gray);
}

.shop-text-arow {
    display: flex;
    gap: 16px;
    font-size: 20px;
}

.shop-text-arow button {
    color: var(--white);
}

/* syw-section */
.syw-section {
    background-color: var(--pink);
    padding: 100px;
}

.syw-img {
    position: relative;
    padding: 10px;
}

.syw-img img {
    width: 100%;
    mask-image: url(../images/bg-media.svg);
    mask-size: auto 100%;
    mask-repeat: no-repeat;
    height: 100%;
    object-fit: cover;
    mask-position: right;
}

.syw-img-btn {
    position: absolute;
    left: 10%;
    bottom: 7%;
    border: 1px solid var(--black);
    font-size: 24px;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
}

.syw-img-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.syw-content {
    padding: 10px;
}

.syw-text h2 {
    padding: 10px 0;
}

.syw-content p {
    font-size: 18px;
    color: #000000b3;
    padding: 10px 0;
}

.syw-content-img {
    position: relative;
}

.syw-content-img img {
    border-radius: 30px;
}

.syw-content-img-btn {
    position: absolute;
    left: 9%;
    bottom: 5%;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-radius: 11px;
    padding: 6px 13px;
}

.syw-content-img-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.syw-content-img-star {
    position: absolute;
    top: -43px;
    right: -45px;
    animation: rotate 20s linear infinite;
}

.syw-content-img-star-text {
    position: absolute;
    top: -33px;
    right: -11px;
}

/* floating-section */
.floating-section {
    background-color: var(--pink);
    padding: 20px 0;
}

.orb {
    display: inline-block;
    margin: 0 39.7px;
    float: left;
    font-size: 61px;
    transition: all .2s ease-out;
}

.orb:hover {
    transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
}

.marquee {
    transform: rotate(-2deg);
    height: 121px;
    padding: 14px;
    width: 100%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    overflow: hidden;
    position: relative;
}

.marquee--inner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 20s linear infinite;
}

.marquee--inner:hover {
    animation-play-state: paused;
}

span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

/* products-section */
.products-section {
    background-color: var(--pink);
    padding: 50px;
}

.products-content {
    display: flex;
    align-items: center;
}

ul.product-content-text {
    padding: 7px;
    border: 1px solid var(--black);
    border-radius: 50px;
}

ul.product-content-text li {
    padding: 5px 22px;
    font-size: 18px;
}

li.product-content-text-a {
    border-radius: 50px;
    background-color: var(--black);
    color: var(--white);
}










/* Toggle Button */
.menu-toggle {
    display: none;
    width: 42px;
    height: 42px;
    padding: 8px;
    border: none;
    background: transparent;
    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}